{
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./"],
        "alias": {
          "@customs": "./src/customs",
          "@contains": "./src/constants",
          "@theme": "./src/theme",
          "@utils": "./src/utils"
        }
      }
    ]
  ]
}
