{
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./"],
        "alias": {
          "@customs": "./src/customs",
          "@contains": "./src/contains",
          "@theme": "./src/theme",
          "@utils": "./src/utils",
          "@services": "./src/service",
          "@screens": "./src/screens"
        }
      }
    ]
  ]
}
